/* table */
tr td:first-child {
    font-weight: bold;
}

.table-honor tbody tr td:first-child {
    text-align: center;
}
.table-honor thead tr th {
    border: 1px solid rgba(0,0,0,0.06);
}

/* overflow table */
.table-fixed {
    width: 100%;
}
table.table-fixed,
table.table-fixed>thead,
table.table-fixed>tbody,
table.table-fixed>thead>tr,
table.table-fixed>tbody>tr,
table.table-fixed>thead>tr>th,
table.table-fixed>tbody>td {
    display: block;
    background: rgba(0,0,0,0.01);
}
table.table-fixed>thead>tr:after,
table.table-fixed>tbody>tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
table.table-fixed>tbody {
    overflow-y: scroll;
    height: 150px;
}
table.table-fixed>thead {
    overflow-y: auto;
}
table.table-fixed>thead::-webkit-scrollbar{
    background-color: inherit;
}
table.table-fixed>thead>tr>th,
table.table-fixed>tbody>tr>td {
    float: left;
}
table .img-fix {
    width: 50px;
}
table .header-bold th {
    font-weight: bold;
}